<div class="content">
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title>Purpose</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        The purpose of this application is to explore the design of an Angular ngRx Signal Store state management with a
        focus on maintaining sustainable development velocity and facilitating the seamless addition of new features
        over time like zoneless.
      </p>
      <p>
        This application provides high-level recommendations for designing a well-structured Angular architecture based
        on best practices in NgRx Signal Store state management, with a focus on:
      </p>

      <div>- Signal-based Component Architecture.</div>
      <div>- Smart and Dumb components pattern.</div>
      <div>- Reactive state management (ngrx signal store).</div>
      <div>- Zoneless change detections.</div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title>Description</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        This application is built using Angular-cli.19 and ngrx signal store state management. The application provides
        the following features:
      </p>
      <div>- Multilingual Support (Internationalization in 3 Languages).</div>
      <div>- Apartment search Page.</div>
      <div>- Filter Apartments by City and Borough, and load more apartments via scroll.</div>
      <div>- Apartment overview page.</div>
      <div>- Saving Apartment as Favorites and Sync with Storage.</div>
      <div>- Apartment favorites page.</div>

      <p style="font-weight: bold">Extras:</p>
      <div>- Dynamically load a configuration file before the app starts.</div>
      <div>- Register and use custom SVG icons within the application</div>
      <div>- Implement internationalization using a third-party library.</div>
      <div>- Integrate Infinite Scroll to a view listing.</div>
      <div>- Implement Global Error Handling in the web application.</div>
      <div>- Setting Page Titles Natively With The Angular Router.</div>
    </mat-card-content>
  </mat-card>
</div>
